body{
    background-color: rgba(241, 0, 0, 0.096);
    font-family: cursive;
    margin: 0;
}

header{
    width:95%;
    margin: auto;
    overflow: hidden;
    font-size: 15px;
}

.icon{
    height: 80px;
    width: 80px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsBLx7qIWCfwHHdK9uM7qj6cLUd3IKRN3nKA&usqp=CAU");
    float: left;
    background-position: center;
    background-size:cover;
    margin-right: 10px;
    cursor: pointer;
}

.head{
    float:left;
    color: rgb(14, 12, 12);
    font-size: 13px;
}

nav{
    float: right;
}

li a:link {
    text-decoration: none;
  }
  
 li a:visited {
    text-decoration: none;
  }
  
 li a:hover {
    text-decoration: underline;
  }

li{
    display: inline;
    padding: 1rem;
}

li a{
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-weight: bold;
}
